name: wisata_candi
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  cached_network_image: ^3.4.1
  shared_preferences: ^2.0.15
  sqflite: ^2.3.0 # SQLite untuk mobile
  sqflite_common_ffi: ^2.3.0 # SQLite untuk desktop (Windows/Linux/macOS)
  sqflite_common_ffi_web: ^0.4.1 # SQLite untuk web
  path_provider: ^2.1.1 # Mendapatkan path penyimpanan
  path: ^1.8.3 # Manipulasi path
  image_picker: ^1.0.4 # Mengambil gambar dari kamera/galeri

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - images/
